<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3><i class="fa fa-graduation-cap text-grey-color"></i> Education</h3>
    </div>
	
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 ng-hide="cv.education_disabled" class="text-right">
           <img ng-click="cv.education_Add()" src="./img/add.png" alt="Add-icon" style="width:20px;cursor:pointer"></img>
        </h3>		
    </div>
	
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="educationCtrl.show()"><i class="fa fa-angle-down" ng-hide="educationCtrl.toggle"></i></a>
            <a class="" href ng-click="educationCtrl.hide()"><i class="fa fa-angle-up" ng-show="educationCtrl.toggle"></i></a>
        </h3>
    </div>
	
	<div ng-show="cv.education_disabled">
		<span>School name: </span>
		<input ng-model="cv.education_text" ng-show="cv.education_disabled" class="form-control">
		<span>Field of study: </span>
		<input ng-model="cv.educationField_text" ng-show="cv.educationField_disabled" class="form-control">
		<span>Degree: </span>
		<input ng-model="cv.educationDegree_text" ng-show="cv.educationDegree_disabled" class="form-control">
		<span>Grade: </span>
		<input ng-model="cv.educationGrade_text" ng-show="cv.educationGrade_disabled" class="form-control">
		<span>From date: </span>
		<input ng-model="cv.educationFromDate_text" ng-show="cv.educationFromDate_disabled" class="form-control">
		<span>To date: </span>
		<input ng-model="cv.educationToDate_text" ng-show="cv.educationToDate_disabled" class="form-control">
		<button ng-click="cv.education_save()">Save</button>
		or
		<button ng-click="cv.education_cancel()">Cancel</button>
	</div>
	
    <div class="row" ng-repeat="edu in cv.informations.education | orderBy:'-to_date'" ng-show="!educationCtrl.toggle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{edu.school_name}}</h3>
                </div>
                <div class="panel-body">
                    <span>
                        <strong>{{edu.field_of_study}}</strong>
                    </span>,
                    <span>{{edu.degree}}</span>
                    <span class="text-grey-color">({{edu.from_date | date : 'dd/MM/yyyy'}} to {{edu.to_date | date : 'dd/MM/yyyy'}})</span>
                    <p class="text-justify">{{edu.notes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>